*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.helper{
    font-family: sans-serif;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    text-align: center;
    border: 5px dashed #000;
    border-radius: 5%;
    width: 360px;
    max-width: 90%;
    font-size: 12px;
}
@media (max-width: 720px) {
    .helper{
        font-size: 10px;
    }
}